body {
  align-items: center;
  background-color: #262626;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.loading {
  animation: line 2s infinite alternate;
  background-color: white;
  height: 3px;
  width: 300px;
}

@keyframes line {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  45% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
