* {
  box-sizing: border-box;
}

body {
  background-color: #192a56;
  font-family: 'Montserrat', Arial, sans-serif;
  height: 100vh;
}

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h2 {
  color: white;
  font-size: 45px;
  left: 50%;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box {
  animation: boxes 12s ease-in infinite;
  border: 1px solid #003298;
  height: 10px;
  left: 45%;
  position: absolute;
  top: 80%;
  transform: scale(0);
  width: 10px;
}

.box:nth-child(2) {
  animation-delay: 2s;
  border-color: red;
  left: 25%;
  top: 40%;
}

.box:nth-child(3) {
  animation-delay: 4s;
  left: 75%;
  top: 50%;
}

.box:nth-child(4) {
  animation-delay: 6s;
  border-color: red;
  left: 90%;
  top: 10%;
}

.box:nth-child(5) {
  animation-delay: 8s;
  left: 10%;
  top: 85%;
}

.box:nth-child(6) {
  animation-delay: 10s;
  border-color: red;
  left: 50%;
  top: 10%;
}

@keyframes boxes {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}
