* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #000;
  height: 400px;
  position: relative;
  width: 400px;
}

.content {
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

h2 {  
  margin-bottom: 20px;
  text-transform: capitalize;
}

p {  
  margin-bottom: 30px;
  text-transform: capitalize;
}

a {
  border: 1px solid #fff;
  color: white;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
}

a:hover {
  background-color: #fff;
  color: #000;
}

img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 100%;
}

.card:hover img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}
